* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
ul {
    list-style: none;
}

.header {
    background: #000;
}
.alignment {
    width: 80%;
    margin: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menus {
    display: flex;
}
.menus li a {
    padding: 25px 15px;
    font-size: 18px;
    display: block;
}
.menus li a:hover {
    background: red;
}












.main_box {
    height: 400px;
    width: 800px;
    background: green;
    margin: 40px auto 0;
    position: relative;
}
.box {
    height: 50px;
    width: 50px;
    background: red;
    position: absolute;
    bottom: 60px;
    right: 150px;
}
.box2 {
    height: 50px;
    width: 50px;
    background: purple;
    position: absolute;
    bottom: 150px;
    left: 101%;
}